# Dependency directories
node_modules/

# Electron build output
out/
dist/
dist_electron/
build/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE settings
.vscode/
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache